development:
  adapter: postgresql
  username: scarf
  password: scarf
  database: scarf_dev

test:
  adapter: postgresql
  username: scarf
  password: scarf
  database: scarf_test

production:
  adapter: postgresql
  username: scarf
  password: scarf
  database: scarf
